body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5f9341;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-color:#5f9341;
}

button {
    background-color: #5f9341;
    color: white;
    font-weight: bold;
    margin-top: 5px;
    padding: 10px 15px;
    border: 1px solid #5f9341;
}

#delete-all-btn{
    background-color: white;
    color: #5f9341;
}

ul{
    color: #5f9341;
    text-decoration: underline;
    list-style: none;
    padding: 0;
    margin-top: 20px;

}

li{
    margin: 5px;
}

a{
    color: #5f9341;

}
